<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
	<contextName>Black Core Logback</contextName>
	<if condition='property("os.name").toUpperCase().contains("WINDOWS")'>
		<then>
			<!-- 若環境建置Windows時使用 -->
			<property name="LOG_HOME" value="C:/sits/logs/blackcore" />
		</then>
		<else>
			<!-- 若環境建置於Linux時使用 -->
			<property name="LOG_HOME" value="/var/opt/logs/blackcore" />
	    </else>
	</if>
	<property name="CHARSET" value="UTF-8" />
	<property name="PATTERN"
		value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${PATTERN}</pattern>
			<charset>${CHARSET}</charset>
		</encoder>
	</appender>

	<appender name="RECORD"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--日誌文件輸出的文件名 -->
			<FileNamePattern>${LOG_HOME}/record-%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<!--日誌文件保留天數 -->
			<MaxHistory>60</MaxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] - %msg%n</pattern>
			<charset>${CHARSET}</charset>
		</encoder>
		<!--日誌文件最大的大小 -->
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>20MB</MaxFileSize>
		</triggeringPolicy>
	</appender>

	<appender name="DETAIL"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--日誌文件輸出的文件名 -->
			<FileNamePattern>${LOG_HOME}/detail-%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<!--日誌文件保留天數 -->
			<MaxHistory>60</MaxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${PATTERN}</pattern>
			<charset>${CHARSET}</charset>
		</encoder>
		<!--日誌文件最大的大小 -->
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>20MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	
	<logger name="com.sidc.utils.log.LogAction" level="INFO"
		additivity="false">
		<appender-ref ref="RECORD" />
	</logger>

	<logger name="com.sidc.blackcore.servlet" level="DEBUG" additivity="false">
		<appender-ref ref="DETAIL" />
	</logger>
	
	<root level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ROLLINGFILE" />
	</root>
</configuration>